<%= image_tag('spotify.jpg', size: 300, class: 'box') %>
<% @catalogs.each do |catalog| %>
  <div class="box">
    <%= link_to "/catalogs/#{ catalog.title }" do %>
      <%= image_tag catalog.image, size: 300, class: 'box' %>
    <% end %>
  </div>
<% end %>

