<% content_for :title, 'Catalogs' %>
<div class="box info padded">
  <h2>Curated music by music experts on Spotify.</h2>
  <p>We collect music recommendations from record labels, music magazines and artists.</p>
  <p class="donate_text">Your donation will be helping to keep the site alive.</p>
  <%= render '/layouts/donate_button' %>
</div>
<% @catalogs.each do |catalog| %>
  <div class="box">
    <%= link_to "/catalogs/#{ catalog.name }" do %>
      <%= image_tag "#{ catalog.image }_300x300.jpg", size: "300" %>
    <% end %>
  </div>
<% end %>

