<% content_for :title, "#{ @catalog.title } + Spotify" %>

<div class="box icon">
  <%= image_tag "#{ @catalog.image }.jpg" %>
</div>

<%= render partial: "/albums/album", collection: @catalog.albums.first(100) %>
