<header>
  <img src="/assets/spotify.png" width=37 height=37>
  <img src="/assets/ra.png" width=87 height=37>
</header>

<div class="albums clearfix">

  <% @albums.each do |album| %>
  <div class="album">
    <%= link_to album.spotify_url, class: 'album_container' do %>
      <div class="info">
        <div class="title"><%= album.title %></div>
        <div class="artist"><%= album.artist %></div>
      </div>
      <%= image_tag(album.image || "default_album.png", size: "256", class: "album_cover") %>
    <% end %>
  </div>
  <% end %>
</div>
