.review_date {
  font-size: 100px;
  padding: 5px;
}

.album {

  .album_container {
    width: 300px;
    height: 300px;
    display: block;
    position: relative;
  }

  .cover {
  }

  .info {
    box-sizing:border-box;
    padding: 5px;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #fff;
    opacity: 0.96;
    color: #000;
    width: 100%;
  }
  .title {
    margin-bottom: 5px;
  }

  .artist {
    font-size: 80%;
  }
}
