.review_date {
  font-size: 100px;
  padding: 0 5px;
}

.album {

  .album_container {
    width: 318px;
    height: 318px;
    display: block;
    position: relative;
  }

  .cover {
  }

  .info {
    padding: 5px;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #fff;
    opacity: 0.96;
    color: #000;
    width: 100%;
  }
  .title {
    margin-bottom: 5px;
  }

  .artist {
    font-size: 80%;
  }

  .play_button {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -129px;
    margin-top: -129px;
  }
}
