// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #000;
  margin: 0;
  margin-left: 1px;
}

.container {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.box {
  width: 318px;
  height: 318px;
  background: #fff;
  margin: 0 1px 1px 0px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  float: left;
  display: block;
  overflow: hidden;

  &.padded {
    padding: 10px;
  }

  &.icon {
    text-align: center;
    img {
      margin-top: 10px;
    }
  }
}

.intro {
  font-size: 24px;
  padding: 5px;
  margin-top:100px;
  text-align: center;
}

a, img {
  text-decoration: none;
  border: 0;
}

a {
  color: #000;
}

.donate_button {
  margin-top: 10px;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
